.btnM{
    position: relative;
    width: 100px;
    height: 60px;
    font-size: 20px;
    background-color: #202231;
    color: #fff;
    border: none;
    border-radius: 4x;
    cursor: pointer;
    transition: width .5s;
    border-radius: .5s;
}
.btnM *{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: opacity .25s;
}
.icon{
    opacity: 0;
}
.btnM:focus{
    width: 60px;
    background-color: #44c08a;
    border-radius: 50%;
}
.btnM:focus .text{
    opacity: 0;
}
.btnM:focus .icon{
    opacity: 1;
    transition-delay: .5s;
}
.mainPage{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
}
.cardMain{
    position: relative;
    width: 650px;
    height: 450px;
    top: 25%;
    margin: 0 auto;
    border-radius: 5%;
    background-color: blanchedalmond;
}
.insideCard{
    display: flex;
    justify-content: center;
    margin: auto;
    font-family: 'Comic Sans MS',cursive;
}

.moldura{
    background-color: white;
    width: 250px;
    height: 250px;
    border-radius: 100%;
}
.imgMoldura{
    margin-top: 10px;
    margin-left: 10px;
    width: 230px;
    height: 230px;
    border-radius: 100%;
}
.quad{
    height: 300px;
    width: 300px;
    background-color: blanchedalmond;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.entre{
    width: 100%;
    height: 500px;
    background-color: blanchedalmond;
}
.btn-primary{
    background-color: blanchedalmond;
    border: 0;
    color: black;
}
.btn-primary:hover{
    background-color: rgb(203, 92, 92);
}
