.btnM{
    position: relative;
    width: 100px;
    height: 60px;
    font-size: 20px;
    background-color: #202231;
    color: #fff;
    border: none;
    border-radius: 4x;
    cursor: pointer;
    transition: width .5s;
    border-radius: .5s;
}
.btnM *{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: opacity .25s;
}
.icon{
    opacity: 0;
}
.btnM:focus{
    width: 60px;
    background-color: #44c08a;
    border-radius: 50%;
}
.btnM:focus .text{
    opacity: 0;
}
.btnM:focus .icon{
    opacity: 1;
    transition-delay: .5s;
}
.mainPage{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: blanchedalmond;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 2%;
    font-family: 'Comic Sans MS',cursive;
    margin: auto;
}
.imgMain{
    width: 35%;
    height: 35%;
    border-radius: 2%;
}
